{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Bills</h2>

    <section id="bills">

        {% for bill in bills %}

            <div class="bill {{ 'pinned' if bill.pinned }}">

                <header>
                    <h3>{{ bill.title }}</h3>
                    {{ "📌" if bill.pinned }}
                </header>

                <p>{{ bill.body | paragraphs }}</p>

                <footer>
                    Created on {{ bill.created | local | format }}
                </footer>

            </div>

        {% else %}

            <p>No Notes!</p>

        {% endfor %}

    </section>

{% endblock %}

